@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Poppins", sans-serif;
}


@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));



@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #A91D3A;
    --color-secondary: #D73F00;
    --color-dark2: #191919;
    --color-dark3: #171717;
}

body {
    @apply bg-[#191919] dark:bg-[#1d232a] text-white
}

.btn-cusPrimary {
    @apply bg-gradient-to-r font-medium from-[#A91D3A] to-orange-700 border-none text-white transition-all duration-1000
}

.btn-cusPrimary:hover {
    @apply bg-gradient-to-r from-orange-600 to-[#A91D3A];

}

.btn-cusPrimary2 {
    @apply bg-gradient-to-r font-medium from-[#A91D3A] to-orange-700 border-none text-white transition-all duration-1000
}

.btn-cusPrimary2:hover {
    @apply bg-gradient-to-r from-orange-600 to-[#A91D3A];
}



.title {
    @apply md:text-4xl text-[22px] font-bold bg-gradient-to-r from-[#A91D3A] to-orange-600 dark:from-purple-500 dark:to-orange-400 bg-clip-text text-transparent
}



.sub-title {
    @apply md:text-[18px]  font-medium
}

p {
    font-family: "Roboto", sans-serif;
}


.dashboard-li{
    @apply p-3 text-gray-300 rounded-lg font-bold hover:text-primary  hover:bg-[#1D262A] is-drawer-close:tooltip is-drawer-close:tooltip-right;
}

.tableHead {
    @apply  text-[18px] font-bold text-white  bg-amber-950/70
}

.dashborder li {
    @apply border-b-2 border-primary/40 transition duration-1000 relative
}

.dashborder li:after, .homeMenu li:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 100%;
    left: 0;
    background: #A91D3A;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.dashborder li:hover:after , .homeMenu li:hover:after {
    width: 100%;
}

.dashborder li.none {
    border-bottom: 1px solid transparent;
}